$stack: #f48024;
$git: #24292e;
$java: #467899;
$python: #366994;
$aws: #ec912d;
$nest: #aa253a;
$hs: #fece41;
$dw: #b30939;
$canvas: #9e1b32;
$waze: #85d5ea;
$yt: #ff0000;
$reddit: #ff4500;
$rd: #c0c0c0;
$dayz: #292929;
$google: #1da362;
$mf: #0e2866;
$eye: #36393e;
$vim: #000080;
$react: #61dafb;
$js: #f5f9fa;
$ct: #ff9800;
$mdn: #83d0f2;
$bttn: #fffde7;
$animate: #7b8993;